body{
    margin:0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

header{
    width: 100%;
    max-height: 50px;
    background-color: white;
    border-bottom: 3px  solid #cccccc;
    text-align: center;
}
header h1{
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

nav{
    
    width: 15%;
    height: 300px;
    border-right: 2px solid #f4f4f4;
    
    
}
nav ul{
    list-style-type: none;
    float: left;
    
}

nav ul li{
    display: block;
    padding-top:20px;
    padding-right: 10px;
    margin-left: 30px;
    margin-top: 20px;
    width:100%;
     
}

nav a{
    
    text-decoration: none;
    color: black;
}

.profilephoto {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 30px;
    border-radius: 50%;
    border: 2px solid #cccccc;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

<<<<<<< HEAD
#search{
=======
#body-container{
    width: 70%;
    height: 418px;
    float: right;
    padding: 30px;
    background: #cccccc;
    margin-top: -175px;
}

.body-container{
    position: relative;
    width: 200px;
    height:200px;
    float: left;
    background-color: white;
}
.sub-body{
    margin-top:90px;
    color: black;
    font-size: 12px;
    background-image: url('../img/logo.gif')rgba(0,0,0,0.5);
    background-size: contain;
    background-position-x: center;
}


 #search{
>>>>>>> 240aa5d0ecb34603d1598c47e067d0db87d5de14
    padding: 30px;
    color:#ffff;
    background: #353637;

}

#search form{
    float:right;
    margin-top:-17px;
}
#search input[type="text"]{
    padding:4px;
    height: 28px;
    width: 250px;
}

.btn_1{
    height: 38px;
    background: #cccccc;
    border:0;
    padding-left: 20px;
    padding-right: 20px;
    color:#353637;
}

nav a:hover{
    background: #cccccc;
    line-height: 2em;
}

#modaldiv1{
    width: 80%;
    border-top: 3px solid #cccccc;
    margin-top: 10px;
    margin-left: 20px;
}

