body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    height: 800px;
    background: linear-gradient(#fec9c9, #ee6e9f); 
    margin: auto;
}
.navbar{
    width:50%;
    height: 70px;
    background-color: #6d9d88; 
    margin:-15px auto;
}
.navleft{
    float: left;
    width:25%;
    height: 70px;
    background-color: #1a1a1a;
    margin-top:-55px;
}

.navright{
    float: right;
    width:25%;
    height: 70px;
    background-color:#6a60a9;
    margin-top:-55px;
}

.navin1 ul{
    
    background-color: 
}

.navin1 ul li{
    display: inline-block;
    margin-top: 25px;
    margin-right: 30px;
    margin-left: 90px;
}
.navin1 ul li a{
    text-decoration: none;
    color: white;
}
.formsec{
    width:50%;
    background: #6d9d88;
    opacity: .7;
    height: 710px;
    margin:15px auto;
    box-shadow: 10px 20px 30px black;
}
form{
    width:90%;
    margin: auto;
}
#fname{
    float: left;
    height: 50px;
    width:49%;
    margin-top:80px;
    
}
#lname{
    float: right;
    height: 50px;
    width:49%;
    margin-top:80px;
}

#address{
    width:100%;
    height: 50px;
    margin-top: 20px;
}
#country{
    width:100%;
    height: 50px;
    margin-top: 20px;
}
#email{
    width:100%;
    height: 50px;
    margin-top: 20px;
}

#username{
    width:100%;
    height: 50px;
    margin-top: 20px;
}

#password{
    float: left;
    height: 50px;
    width:49%;
    margin-top:20px;
    
}
#rpassword{
    float: right;
    height: 50px;
    width:49%;
    margin-top:20px;
    margin-right: -5px;
    
    
}

.line{
    
    height: 10px;
    background: white;
    width:111%;
    margin-left:-34px;
}
.line2{
    height: 1px;
    background: white;
    width:100%;
    margin-top: 150px;
}
.line3{
    height: 1px;
    background: white;
    width:100%;
    margin-top: 20px;
}
.btn{
    width: 100%;
    margin-top: 90px;
}
button{
    width: 101%;
    margin: 5px auto;
    height: 50px;
    padding: 10px;
    background-color: #1a1a1a;
    color: white;
    
}
.navin1 ul li a:hover{
    line-height: 1.5em;
}
button:hover{
    background-color: #6a60a9;
}



@media screen and (max-width:800px){
    .formsec, .navbar{
        width:50%
    }
    .navleft, .navright{
        width:25%
    }
    form{
        width: 90%;
    }
    #fname, #lname{
        width:48%
    }

    

   
}

@media screen and (max-width:640px){
    .formsec, .navbar{
        width:50%
    }
    .navleft, .navright{
        width:25%
    }
    form{
        width: 90%;
    }
    #fname, #lname{
        width:48%
    }

    

   
}
@media screen and (max-width:320px){
    .formsec, .navbar{
        width:50%
    }
    .navleft, .navright{
        width:25%
    }


}