body{
    margin: 0px;
    padding: 0px;
    background: rgba(12, 12, 14, .3)
}




nav{
    display: block; 
    margin:0px;
    float: left;
    width: 100%;
    height: 200px;
    line-height: 4em;
}

.firstorder{
    background-color: white;
    height: 50px;
    width:100%;
    position: relative;
    
}
.bg{
    display:none;
    position: absolute;
    background-color: greenyellow;
    width: 100%;
    right: 0px;
    top:50px;
    height: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.firstorder li{
    
    float: right;
    margin-top: 0px;
    list-style-type: none;
    color:white;
}

.secondorder{
    position: absolute;
    top:0px;
    width:85%;
    height: 50px;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    
   
}

.secondorder>li{
    display: inline;
    list-style-type: none;
    margin:20px 0 20px 200px;
    padding:20px;
    line-height: 2em;
    
}

.secondorder li a {
    
    text-decoration: none;
    color:white;
}

.alloffers{
    position: relative;
    display: inline-block;
    
}

.thirdorder{
    display: none;
    position: absolute;
    top: 50px;
    min-width:220px;
    background-color:black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.thirdorder>li{
    line-height: 2em;
    list-style-type:none;
    
}

.thirdorder>li> a {
    color:black;
    padding: 5px;
    text-decoration: none;
    display: block;
}

.thirdorder a:hover {
    background-color: grey;
   
}

.alloffers:hover .thirdorder{
    display: inline;
    font-weight: bold;
}

.firstorder:hover .bg{
    display:block;
}

