body{
    margin: 0px;
    padding: 0px;
}




nav{
    display: block; 
    margin:0px;
    float: left;
    width: 100%;
    height: 200px;
    line-height: 4em;
}

.firstorder{
    background-color: white;
    float: right;
    height: 50px;
    width:100%;
    
}
.firstorder li{
    position: relative;
    float: right;
    margin-top: -15px;
    list-style-type: none;
    color:white;
}

.secondorder{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    
   
}

.secondorder li{
    display: inline;
    list-style-type: none;
    margin:20px;
    padding:20px;
    line-height: 3em;
    
}

.secondorder li a {
    text-decoration: none;
    color:white;
}

.alloffers{
    position: relative;
    display: inline-block;
    
}

.thirdorder{
    display: none;
    position: absolute;
    top: 60px;
    line-height: 1em;
    min-width: 15em;
    background-color:white;
    box-shadow: 0px 8px 16px 0px rgba(177, 170, 170, 0.2);
    z-index: 1;
}

.thirdorder a {
    color:black;
    padding: 5px;
    text-decoration: none;
    display: block;
}

.thirdorder a:hover {
    background-color: grey;
    display:block;
    color: black;
}

.alloffers:hover .thirdorder{
    display: inline;
    font-weight: bold;
}
